{% load render_table from django_tables2 %}
{% load bootstrap3 %}
<!doctype html>
<html>
    <head>
        <title>Log Table</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
    {% if filter %}
        <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
        </form>
    {% endif %}
    {% render_table table %}
        <br>
        <h3>Количество уникальных IP: {{ unique_ip }}</h3>
        <br>
     {% render_table top_10 %}

    </body>
</html>